header {
    font-family: proxima-nova, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.double-space {
    line-height: 2;
    position: relative;
    top: -.5em;
}

a {
    color: black;
}

.carousel-control-prev {
    left: 31%;
}

.carousel-control-next {
    right: 31%;
}

body {
    font-family: Verdana, Arial, sans-serif;
}