.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px
}

.grid-item {
    background-color: rgb(255, 224, 243);
    text-align: center;
    font-size: 30px;
    padding: 20px;
}

.navmenu {
    grid-column: 1/ span 3;
    grid-row: 1;
}

.main-image {
    grid-column: 1/span 3;
    grid-row: 2
}

.main1 {
    grid-column: 1/span 2;
    grid-row: 3 /span 1;
}

.ss1 {
    grid-column: 1/2;
    grid-row: 4;
}

.ss2 {
    grid-column: 2/3;
    grid-row: 4;
}

.main2 {
    grid-column: 1/span 2;
    grid-row: 5/span 2;
}

.sidenav {
    grid-column: 3/span 1;
    grid-row: 3/span 4;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

ul.nav li {
    display: inline-block
}

ul.nav li a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
}

.double-space {
    line-height: 2;
    position: relative;
    top: -.5em;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: black;
    background-color: aliceblue;
}