body {
    background-image: url(images/bookshelves.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


/*Styling header */

div.container {
    width: 900px;
    background-color: rgb(253, 228, 207);
    border: 5px solid rgb(253, 228, 207);
    padding: 50px;
    margin: 10px auto;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #ffcdb2;
    text-align: center;
}

ul.nav li {
    display: inline-block
}

ul.nav li a {
    display: block;
    color: #6d6875;
    padding: 20px 20px;
    background-color: #ffcdb2;
    text-decoration: none;
}

ul.nav a:hover {
    background-color: #ffb4a2;
}

.tables {
    font-family: Garamond, serif;
    color: #6d6875;
    margin-left: auto;
    margin-right: auto;
}


/* Styling headers*/

.pageHeader {
    font-family: Garamond, serif;
    text-align: center;
    color: #6d6875;
}

.header {
    font-family: Garamond, serif;
    text-align: center;
    color: #6d6875;
}

p {
    font-family: 'Courier New', monospace;
    color: #6d6875;
    font-weight: 550;
}

.doubleSpace {
    line-height: 2;
    position: relative;
    top: -.5em;
}


/*centering images*/

.centerImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


/*adding shadow to image*/

#boxShadow {
    box-shadow: 10px 10px 5px #e5989b;
}


/*contact page image id*/

#cat {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}


/*Karen's picture*/

#karen {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}


/*resources table*/


/*styling gallery*/

ul.gallery li {
    list-style: none;
    float: left;
    padding: 15px 15px 35px 15px;
    background-color: ghostwhite;
    border: 1px solid ghostwhite;
    box-shadow: 0px 2px 15px lightgray;
    position: relative;
    margin-right: 25px;
}